body{
　width:360px;
　height:80px;
　text-align:center;
　line-height:80px;
　font-size:15px;
　color:#FFFFFF;
　font-weight:bold; 
  background-image:url(http://wportfolio.wzu.edu.tw/blog/attach/217/42217/12/bf_80037_9553015_18743_image.jpg);
  background-size:cover;
}

